header{
    width: 157px;
    height: 100vh;
    border: 5px grey solid;
    position: fixed;

}

.rotate{
    transform: rotate(-90deg);
border: 1px red solid;
}

.headerContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}