

<app-back-button></app-back-button>

<section>

    <app-travel-intro 
        [dataCountry]="articleInfo!.country" 
        [dataTown]="articleInfo!.town"
        [dataDateToGo]="articleInfo!.dateToGo"
        [dataDateToReturn]="articleInfo!.dateToReturn"
        [dataMainPicture]="articleInfo!.mainPicture">
    </app-travel-intro>

    <app-travel-pitch
        [dataTravelPitch]="articleInfo!.travelPitch">
    </app-travel-pitch>


    <app-travel-review
        [dataPros]="articleInfo!.prosArray"
        [dataCons]="articleInfo!.consArray"
        [dataAdvices]="articleInfo!.adviceArray"
        
    ></app-travel-review>

    <app-travel-sum-up
        [dataTravelSumUp]="articleInfo!.travelSumUp">
    </app-travel-sum-up>

    <app-travel-more
        [dataMinorPictures]="articleInfo!.minorPictureArray">
    </app-travel-more>

</section>