
<main>

    <div class="mainContent">
        
        <h2>Notre avis</h2>

        <h3>Les plus</h3>

        <!-- afficher les bullet points correctement ? .length met juste le nombre d'éléments du tableau ?-->

        <ul class="reviewBloc">
            <li>{{ Articles.prosArray }}</li>
        </ul>

        <h3>Les moins</h3>

        <ul class="reviewBloc">
            <li>{{ Articles.consArray}}</li>
        </ul>

        <h3>Mon conseil</h3>

        <ul class="reviewBloc">
            <li>{{ Articles.adviceArray}}</li>
        </ul>

    </div>