
<main>

    <div class="mainContent">
        
        <h2>Notre avis</h2>

        <h3>Les plus</h3>

        <div class="reviewBloc" >
            <ul *ngFor="let item of dataPros">
                <li>{{ item.prosPoint }}</li>
            </ul>
        </div>

        <h3>Les moins</h3>

        <div class="reviewBloc" >
            <ul *ngFor="let item of dataCons">
                <li>{{ item.consPoint }}</li>
            </ul>
        </div>

        <h3>Mon conseil</h3>

        <div class="reviewBloc" >
            <ul *ngFor="let item of dataAdvices">
                <li>{{ item.advicesPoint }}</li>
            </ul>
        </div>

    </div>