
.mainContent{
    position: relative;
    display: flex;
    width: 64.25rem;
}

.lengendPhoto{
    width: 100%;
}


img{
    width: 66.99vw;
    height: 44.66vw;
}

.legendInfo{
    position: absolute;
    bottom: 0;
    height: 7.68vw;
    width: 66.99vw;
    background-color: rgb(201, 107, 65, 0.7);
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.legendPlace, .legendDate{
    display: flex;
    color: var(--colorTextBloc);
    padding: 38px 50px;
}

.legendPlace{
    font-family: 'Lora', serif;
    font-size: 30px;
}

.legendDate{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    border-left: var(--colorTextBloc) solid 1px;
}

@media (max-width: 490px) {

    .mainContent{
        width: 1.25rem;
    }

    img{
        width: 21.875rem;
        height: 21.875rem;
    }

    .legendInfo{
        width: 21.875rem;
        height: 4.375rem;
    }

    .legendPlace{
        font-size: 15px;
    }

    .legendDate{
        font-size: 10px;
    }

    .legendPlace, .legendDate{
        padding: 25px 16px;
    }
}