img{
    width: 32.55vw;
    height: 32.55vw;
}

h1{
    margin: 208px 0 44px 0;
}

.wrap{
    width: 65rem; 
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.mainContent{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    /* border: solid 2px red; */
}

.legendInfo{
    position: absolute;
    bottom: 0;
    height: 6.90vw;
    width: 32.55vw;
    /* border: solid 2px red; */
    background-color: var(--colorBloc);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.legendPlace, .legendDate{
    color: white;
    padding: 38px 50px;
}

.legendPlace{
    font-family: 'Lora', serif;
    font-size: 30px;
}

.place1{
    font-size: 24px;
}

.place2{
    font-size: 16px;
}

.legendDate{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    border-left: white solid 1px;
}

@media (max-width: 490px) {

    .mainContent{
        width: 1.25rem;
    }

    h1{
        margin: 76px 0 35px 0;
    }

    img{
        width: 21.875rem;
        height: 21.875rem;
    }

    .legendInfo{
        width: 21.875rem;
        height: 4.375rem;
    }

    .legendPlace{
        font-size: 15px;
    }

    .legendDate{
        font-size: 10px;
    }

    .legendPlace, .legendDate{
        padding: 25px 16px;
    }

    .wrap{
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .mainContent{
        flex-wrap: nowrap;
        flex-direction: column;
        /* border: solid 2px red; */
    }
}