/* Style global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colorBloc: #C96B41;
    --colorHeader: #EEDFD4;
    --colorTextCasual: #000000;
    --colorTextBloc: #FFFFFF;
  }

h1, h2 {
    font-family: 'Lora', serif;
    font-size: 60px;
}

a{
    text-decoration: none;
    color: var(--colorTextCasual);
}
/* font-family: 'Inter', sans-serif; */

