/* Style global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colorBloc: #C96B41;
    --colorHeader: #EEDFD4;
    --colorTextCasual: #000000;
    --colorTextBloc: #FFFFFF;
  }

main{
    margin-left: 157px;  
}

h1, h2 {
    font-family: 'Lora', serif;
    /* font-size: 60px; */
    font-size: clamp(26px, 10vw, 60px);
}

p{
    font-family: 'Inter', sans-serif;
    font-size: clamp(18x, 2vw, 20px);
}

a{
    text-decoration: none;
    color: var(--colorTextCasual);
}

@media (max-width: 490px) {
    main{
        margin-left: 0;  
    }
}


